.main-box {
	width: 70%;
	height: 600px;
	margin-top: 50px;
	background: white;
}
h5 {
	padding-bottom: 50px;
}
.left-content {
	float: left;
}
.right-content {
	float: right;
	width: 85%;
}
small {
	font-weight: bolder;
	color: red;
}